.game-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.guess-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
}

.game-area {
    align-self: stretch;
    padding-inline: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    font-family: var(--font-primary);
    text-transform: uppercase;
}

.game-guess-form {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-inline: 20px;
    color: var(--neutral-offwhite);
    input:not([type="submit"]) {
        flex-grow: 1;
        padding: 4px 8px;
        background-color: var(--neutral-offwhite);
        color: var(--base-green);
        border: 2px solid var(--neutral-offwhite);
        font-family: var(--font-primary);
        font-weight: bold;
        text-transform: uppercase;
    }

    input[type="submit"] {
        padding: 4px 8px;
        background-color: var(--highlight-red);
        color: var(--neutral-offwhite);
        border: 2px solid var(--neutral-offwhite);
        font-family: var(--font-primary);
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.scoreboard {
    width: 85%;
    background-color: var(--base-green);
    clip-path: ellipse(100% 100% at bottom);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    turbo-frame {
        display: contents;
    }

    h1, h2, h3 {
        color: var(--neutral-offwhite);
        font-family: "Russo One", sans-serif;
        text-transform: uppercase;
    }
}

.player-card-container {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
}

.player-list {
    flex-grow: 8;
    min-width: 530px;
}