.player-card {
    padding: 12px;
    width: 200px;
    /*aspect-ratio: 3 / 4;*/
    background-color: #f9f9f9;
    position: relative;
}

.player-card__image {
    position: relative;
    width: 100%;
    height: auto;
}

.player-card__info-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
}

.player-card__info {
    font-family: var(--font-primary);
    position: absolute;
    padding: 8px;
    background: var(--highlight-red);
    color: var(--neutral-offwhite);
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: bold
}

.player-card__info .player-card__first-name {
    font-size: 0.9em;
}

.player-card__info .player-card__last-name {
    font-size: 1.2em;
}

.player-card__details {
    font-size: 8px;
    display: flex;
    gap: 10px;
    font-weight: semi-bold;
}